<mat-form-field appearance="fill">
    <mat-label>Gender</mat-label>
    <mat-select (selectionChange)="selectGender($event)">
      <mat-option *ngFor="let gender of genderList; let i = index" [value]="i">
        {{gender}}
      </mat-option>
  </mat-select>

  </mat-form-field><mat-form-field appearance="fill">
    <mat-label>Animal</mat-label>
    <mat-select (selectionChange)="selectAnimal($event)">
      <mat-option *ngFor="let animal of animalsList; let i = index" [value]="i">
        {{animal}}
      </mat-option>
  </mat-select>
  </mat-form-field>